<?xml version="1.0"?>
 
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Frame-Options" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <remove name="X-Content-Type-Options" />
                <add name="X-Content-Type-Options" value="nosniff"/>
                <remove name="Content-Security-Policy" />
                <add name="Content-Security-Policy" value="default-src https: 'unsafe-inline'" />
                <remove name="Referrer-Policy" />
                <add name="Referrer-Policy" value="no-referrer" />
                <remove name="Permissions-Policy" />
                <add name="Permissions-Policy" value="microphone=()" />
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <outboundRules>
                <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
                    <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="on" ignoreCase="true" />
                    </conditions>
                    <action type="Rewrite" value="max-age=31536000" />
                </rule>
                <rule name="Set SERVER to blank" enabled="true">
                    <match serverVariable="RESPONSE_SERVER" pattern=".*" />
                    <action type="Rewrite" value="" />
                </rule>
                <rule name="Set X-Powered-By to blank" enabled="true">
                    <match serverVariable="RESPONSE_X-Powered-By" pattern=".*" />
                    <action type="Rewrite" value="" />
                </rule>
            </outboundRules>
        </rewrite>
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
        <staticContent>
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
    </system.webServer>
</configuration> 

